.container {
  text-align: center;
  padding: 20px;;
  margin-top: 5px; /* Jarak antara gambar dan nama */
    font-size: 15px; /* Ukuran font nama */
    font-weight: 600; /* Ketebalan font */
    color: #000; /* Warna nama */
}

.img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 15px;
}
